# Environment variables example file
DEVELOPMENT=true
LOG_JSON_LOGGING=false
LOG_COLORIZE=true
LOG_ADD_CALLER=true
LOG_DISABLE_STACKTRANCE=false
LOG_UNESCAPE_MULTILINE=true
LOG_LEVEL=debug
KEA_URL=https://localhost
KEA_SECONDARY_URL=https://localhost:8001
KEA_PORT=8000
KEA_BASIC_AUTH_USERNAME=
KEA_BASIC_AUTH_PASSWORD=
KEA_TLS_INSECURE=true
KEA_TLS_ENABLED=true
KEA_TLS_CA_FILE=./hack/docker/certs/ca.crt
KEA_TLS_CERT_FILE=./hack/docker/certs/client.crt
KEA_TLS_KEY_FILE=./hack/docker/certs/client.key
KEA_TLS_SERVER_NAME=kea-dhcpv4-server.vitistack.io
KEA_TIMEOUT_SECONDS=10
KEA_HEADER=Content-Type: application/json