{{- if .Values.serviceAccount.create -}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "kea-operator.fullname" . }}-manager-role
  labels:
    {{- include "kea-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - vitistack.io
  resources:
  - networkconfigurations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vitistack.io
  resources:
  - networkconfigurations/finalizers
  verbs:
  - update
- apiGroups:
  - vitistack.io
  resources:
  - networkconfigurations/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - vitistack.io
  resources:
  - networknamespaces
  verbs:
  - get
  - list
  - watch
# Required for reading TLS secrets
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "kea-operator.fullname" . }}-manager-rolebinding
  labels:
    {{- include "kea-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "kea-operator.fullname" . }}-manager-role
subjects:
- kind: ServiceAccount
  name: {{ include "kea-operator.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
---
# Leader election role (namespace-scoped)
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "kea-operator.fullname" . }}-leader-election-role
  labels:
    {{- include "kea-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "kea-operator.fullname" . }}-leader-election-rolebinding
  labels:
    {{- include "kea-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "kea-operator.fullname" . }}-leader-election-role
subjects:
- kind: ServiceAccount
  name: {{ include "kea-operator.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
